.square {
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divContainer {
  display: flex;
  flex-wrap: wrap;
}
